# Nifty configuration file.
#
# Each section lists parameters required by a pipeline step.

[defaults]
niftyVersion = '1.0.1'
manualMode = False
overwrite = False
scienceOneDExtraction = True
scienceDirectoryList = []
telluricDirectoryList = []
calibrationDirectoryList = []

[gnirsPipelineConfig]
## reads all required header keywords and imports them with specific variable names in every step of the pipeline
#readHeaders = True
## combines the ObsidentifyXD.py, mklist.csh, FindSpectra.py modules from XDGNIRS; cleanir.py module is not used as a part of this pipeline
sort = True
## combines the StatsAnsPrepareXD.py, MakeFlatfieldXD.py, SdistorAndWLCalibXD.py modules from XDGNIRS
calibrationReduction = True
## combines the StatsAnsPrepareXD.py, ReducingXD.py, CombineSpectraXD.py, ExtractSpectraXD.py modules from XDGNIRS
telluricReduction = True
## --- same as for telluricReduction in one step gnirxtyReduce.py ---
scienceReduction = True
## combines the HlineXD.py and TelluricXD.py modules from XDGNIRS
telluricCorrection = True
## combines the mag2mass.py and FluxCalibXD.py modules from XDGNIRS
fluxCalibration = True 
## runs the CombineOrderXD.py module from XDGNIRS; must to be set to False for longslit mode
combineOrders = True
telluricCorrectionMethod = 'gnirs'
fluxCalibrationMethod = 'gnirs'

[sortConfig]
rawPath = ''
program = ''
proprietaryCookie = ''
skyThreshold = 3.5
sortTellurics = True
telluricTimeThreshold = 5400

[calibrationReductionConfig]
Start = 1
Stop = 4
cleanir_arcs = False
cleanir_IRflats = False
cleanir_QHflats = False
cleanir_pinholes = False

[telluricReductionConfig]
Start = 1
Stop = 5
cleanir = False
skySubtraction = True
extraction_aperture_radius = 4
extraction_stepsize = 6

[scienceReductionConfig]
Start = 1
Stop = 5
skySubtraction = True
cleanir = False

[telluricCorrectionConfig]
Start = 1
Stop = 9
hLineMethod = 'vega'
hLineInter = False
continuumInter = False
telluricInter = False
tempInter = False
standardStarSpecTemperature = ''
standardStarMagnitude = ''
standardStarRA = ''
standardStarDec = ''
standardStarBand = ''

[fluxCalbrationConfig]
Start = 1
Stop = 6

[combineOrdersConfig]
Start = 1
Stop = 6
#mergeType = 'median'
#use_pq_offsets = True
#im3dtran = True

# Good luck with your Science!
